#add {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 40px;
    margin-bottom: 40px;
    z-index: 900;
}

.app-icon {
    width: 100%;
    height: 100%;
}

.download-version {
    margin-left: 0;
}

.member-icon {
    width: 50px !important;
    height: 50px !important;
    background-position: 100% center;
}

header h3 {
    color: #ffffff;
}

.clickable {
    cursor: pointer;
}

a {
    text-decoration: none;
}