<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ project.project_name }}</title>

    <link rel="shortcut icon" href="images/favicon.png">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/template_styles.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <script src="{% static "js/material.min.js" %}"></script>
    <script src="{% static "js/jquery-2.1.4.min.js" %}"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>
<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        </div>
        <div class="mdl-layout--large-screen-only mdl-layout__header-row">
            <h3>{{ project.project_name }}</h3>
        </div>
    </header>
    <main class="mdl-layout__content">
        <div class="mdl-layout__tab-panel is-active" id="overview">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
                            <img class="app-icon"
                                 src="/versionmonitor/project/{{ project.pk }}/{{ last_version }}/icon">
                        </header>
                        <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                            <div class="mdl-card__supporting-text">
                                <h4>{{ project.application.application_name }}
                                    ({{ project.application.package_name }})</h4>
                                {{ project.definition }}
                            </div>
                            <div class="mdl-card__actions">
                                <a href="/versionmonitor/project/{{ project.pk }}/{{ last_version }}/apk" class="mdl-button">Загрузить</a>
                            </div>
                        </div>
                    </section>
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <div class="mdl-card mdl-cell mdl-cell--12-col">
                            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                                <h4 class="mdl-cell mdl-cell--12-col">Версии</h4>
                                {% for version in versions %}
                                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                        <img class="app-icon section__circle-container__circle mdl-color--primary"
                                             src="/versionmonitor/project/{{ project.pk }}/{{ version.version_integer }}/icon">
                                    </div>
                                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                        <div class="mdl-cell mdl-cell--12-col">
                                            <h5><b>Версия: </b>{{ version.version_string }}</h5>
                                            <b>Изменения: </b>{{ version.changes }}
                                        </div>
                                        <a href="/versionmonitor/project/{{ project.pk }}/{{ version.version_integer }}/apk"
                                           class="download-version mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                                    data-upgraded=",MaterialButton,MaterialRipple">
                                                <i class="material-icons">file_download</i>
                                        <span class="mdl-button__ripple-container"><span
                                                class="mdl-ripple"></span></span></button>
                                            Загрузить
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="mdl-card__actions">
                                <a href="#" class="mdl-button">Все версии</a>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                        <div class="mdl-card mdl-cell mdl-cell--12-col">
                            <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
                                <h4 class="mdl-cell mdl-cell--12-col">Участники</h4>
                                {% for member in members %}
                                    <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                                        <div class="member-icon member-icon section__circle-container__circle mdl-color--light-grey"
                                             style="background-image: url({{ member.get_monogram }})"></div>
                                    </div>
                                    <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
                                        <div class="mdl-cell mdl-cell--12-col">
                                            <h5><b>{{ member.user.first_name }} {{ member.user.last_name }}</b></h5>
                                            <b>Права: </b>{{ member.role }}
                                        </div>
                                        <a href="#"
                                           class="download-version mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--2-col-phone">
                                            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
                                                    data-upgraded=",MaterialButton,MaterialRipple">
                                                <i class="material-icons">clear</i>
                                        <span class="mdl-button__ripple-container"><span
                                                class="mdl-ripple"></span></span></button>
                                            Удалить
                                        </a>
                                    </div>
                                {% endfor %}

                            </div>
                            <div class="mdl-card__actions">
                                <a href="#" class="mdl-button">Добавить участника</a>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
</div>
<button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent"
        id="add">
    <i class="material-icons" role="presentation">add</i>
    <span class="visuallyhidden">Add</span>
</button>

<style>
    .modal-dialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        -webkit-transition: all 200ms ease-in;
        -moz-transition: all 200ms ease-in;
        transition: all 200ms ease-in;
        visibility: visible;
        opacity: 1;
    }

    .modal-dialog.closed {
        visibility: hidden;
        opacity: 0;
    }

    .modal-dialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
    }

    .demo-card-wide.mdl-card {
        width: 512px;
    }

    .demo-card-wide > .mdl-card__title {
        color: #fff;
        height: 176px;
        background: url('http://www.getmdl.io/assets/demos/welcome_card.jpg') center / cover;
    }

    .demo-card-wide > .mdl-card__menu {
        color: #fff;
    }

    #file_progress {
        width: 100%;
    }

</style>

<div id="add_version_dialog" class="modal-dialog closed">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Новая версия</h2>
        </div>
        <div style="width:100%">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col">
                    <form action="#" id="version_upload_form">
                        <div id="file_progress" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>

                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample2"/>
                            <label class="mdl-textfield__label" for="sample2">Номер версии</label>
                            <span class="mdl-textfield__error">Input is not a number!</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <input class="mdl-textfield__input" type="text" id="sample1"/>
                            <label class="mdl-textfield__label" for="sample1">Название версии</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield">
                            <textarea class="mdl-textfield__input" type="text" rows="3" id="sample5"></textarea>
                            <label class="mdl-textfield__label" for="sample5">Изменения</label>
                        </div>
                        <input type="file" id="new_version_file">
                    </form>
                </div>
            </div>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <a id="upload_version" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Загрузить
            </a>
            <a id="close_modal" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                Отмена
            </a>
        </div>
    </div>
</div>

<input style="display:none;" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
<input style="display:none;" name="project_id" value="{{ project.pk }}">

<script>
    $(function () {

        var progress = $("#file_progress");
        var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        var project_id = $('input[name="project_id"]').val();

        $("#upload_version").click(function () {
            $("#version_upload_form").submit();
        });

        $("#version_upload_form").submit(function () {

            var formData = new FormData($(this)[0]);

            $.ajaxSetup({
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrf_token);
                }
            });

            $.ajax({
                url: "/versionmonitor/project/" + project_id + "/newversion/",
                type: 'POST',
                data: formData,
                async: false,
                success: function (data) {
                    alert(data)
                },
                error: function (data) {
                    alert(data)
                },
                fail: function (data) {
                    alert(data)
                },
                cache: false,
                contentType: false,
                processData: false
            });

            return false;
        });

        $("#add").click(function () {
            $("#add_version_dialog").toggleClass("closed");
        });
        $("#close_modal").click(function () {
            $("#add_version_dialog").toggleClass("closed");
        });
    });
</script>
</body>
</html>